.wrapper {
    margin-top: 2em;
    width: 40%;
    text-align: center;
    h2 {
        margin-bottom: 1em;
    }
}


.list__item {
    display: grid;
    grid-template-columns: .1fr 1fr;
    font-size: 1.5rem;
}

.index {
    border: 1px solid black;
}

.item {
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}